<h4 align="center">Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div formGroupName="nombrecompleto">
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control"
          type="text"
          placeholder="Nombre"
          formControlName="nombre">
        <div *ngIf="forma.get('nombrecompleto.nombre').errors">
          <div class="error"
            *ngIf="forma.get('nombrecompleto.nombre').errors['required']">
            El nombre es necesario
          </div>
        </div>

        <div *ngIf="forma.get('nombrecompleto.nombre').errors">
          <div class="error"
            *ngIf="forma.get('nombrecompleto.nombre').errors['minlength']">
            La longitud minima es 3
          </div>
        </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
          type="text"
          placeholder="Apellido"
          formControlName="apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
        type="email"
        placeholder="Correo electronico"
        formControlName="correo">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
        type="password"
        placeholder="Contraseña"
        formControlName="password1">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir password</label>
    <div class="col-md-8">

      <input class="form-control"
        type="password"
        placeholder="Repetir contraseña"
        formControlName="password2">

        <div *ngIf="forma.get('password2').errors">
          <div class="error"
            *ngIf="forma.get('password2').errors['noiguales']">
              La contraseña no coincide
          </div>
        </div>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>

    <div class="col-md-8" formArrayName="pasatiempos">

      <input *ngFor="let pasatiempos of forma.controls['pasatiempos'].controls; index
        as i"
        [formControlName]="i"
        type="text"
        class="form-control">

    </div>

    <button type="button" class="btn btn-primary" (click)="agregarPasatiempo()">Nuevo</button>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" id="saveButton">
        Guardar
      </button>
    </div>
  </div>

  {{ forma.valid }}

</form>

<pre>
    {{ usuario | json}}

</pre>
